.header-modal-tablero{
    display: flex;
    justify-content: row;
}

:root {
    --white: #ffffff;
    
    --bd-font-size-l: 15px;
    --bd-font-size-m: 12px;
    --bd-font-size-s: 8px;
    --bd-font-size-xl: 17px;
    --bd-font-size-xxl: 22px;
    --bd-font-size-xxxl: 23px;
    --bd-font-size-xxxxl: 32px;

    --font-family-montserrat: "Montserrat", Helvetica;
    --font-family-montserrat-medium: "Montserrat-Medium", Helvetica;
    --font-family-montserrat-regular: "Montserrat-Regular", Helvetica;
    --font-family-montserrat-semibold: "Montserrat-SemiBold", Helvetica;
}