.board-main-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.board-main-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #006fff;
  width: 100%;
  height: 8vh;
}

.modal-label{
  font-family: var(--font-family-montserrat);
  margin-top: 2.5%;
}

.modal-input{
  font-family: var(--font-family-montserrat);
  color: rgb(138, 138, 138);
  font-size: "15px";
}

.informacion-header{
  border-bottom: 1px solid #4e4e4e;
}

.board-main-body{
    display: flex;
    flex-direction: column;
}

.board-main-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2.5rem; 
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
}

.create-board-button {
  display: flex;
  color: var(--blue-ribbon);
  background-color: white;
  border: none;
  margin-bottom: 4%;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  align-self: flex-start
}

.create-board-button h3{
  font-family: var(--font-family-montserrat);
  font-weight: 300;
  font-size: 20px;
  margin-right: 8px;
  margin: 10px;
}

.div-create-board{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
  margin-left: 6%;
  margin-right: 6%;
}

.lista-boards {
  display: flex;
  margin-top: 2.5%;
  gap: 6.5%;
  align-items: flex-start;
  justify-content: center;
  height: fit-content;
}

.board-list-head{
  display: flex;
  background-color: var(--blue-ribbon);
  border-radius: 15px 15px 0 0;
  color:white;
  justify-content: center;
  border: 0.5px solid #4e4e4e;
  padding-top: 4.5%;
}

.board-list-head h1{
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 27px;
}

.board-list-card{
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  border-radius: 15px;
  width: 270px;
}

.board-list-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:fit-content;
  padding: 3%;
}

.board-card{
  background-color: var(--blue-sky);
  color: white;
  border-radius: 8px;
  font-family: var(--font-family-montserrat);
  font-size: 18px;
  width: 95%;
  padding: 2.5%;
  padding-left: 5%;
  font-weight: 600;
  margin: 3%;
}

.name-user{
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: 36px;
  font-weight: 700;
  margin: 0.8% 0 0.5% 1.5%;
  white-space: nowrap;
}

.description-tablero{
  color: var(--chicago);
  font-family: var(--font-family-montserrat);
  font-size: 22px;
  font-weight: 500;
  white-space: nowrap;
  margin-bottom: 0.8%;
  margin-left: 1.5%;
}

:root{
  --black: #000000;
  --chicago: #5c5c5c;
  --blue-ribbon: #006fff;
  --blue-sky: rgb(120,162,216);

  --bl-font-size-l: 15px;
  --bl-font-size-m: 12px;
  --bl-font-size-s: 8px;
  --bl-font-size-xl: 17px;
  --bl-font-size-xxl: 22px;
  --bl-font-size-xxxl: 23px;
  --bl-font-size-xxxxl: 32px;

  --font-family-montserrat: "Montserrat", Helvetica;
  --font-family-montserrat-medium: "Montserrat-Medium", Helvetica;
}