.formulario-container-cb{
    display: block;
}

.formulario-container-cb.animate-enter {
    animation: fadeIn 0.55s ease-in-out forwards;
    opacity: 0;
    transform: scale(1);
  }

.Formulario-header {
    background-color: var(--blue-ribbon);
    height: 8vh;
}

.form-header-title {
    color: white;
    font-size: 36px;
    font-weight: bold;
}

.formulario-back-icon{
    height: 25px;
    margin-bottom:1%
}

.formulario-send-icon{
    height: 25px;
    margin-right: 5%;
    margin-bottom:1%;
    margin-left: 5%;
}

.Formulario-body {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 84vh;
    width: 100%;
}

.formulario-body-row {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.formulario-area {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 16px;
    resize: none;
}

.formulario-area:focus {
    outline: none;
}

.tono-group {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tono-button {
    border-radius: 7px;
    background-color: white;
    border: 1px solid #bababa;
    margin: 5px;
    padding: 8px 15px;
    flex: 0 0 calc(25.1% - 10px);
}

.tono-button.selected{
    background-color: #7d3535;
}

.tono-button:hover {
    background-color: #dbdbdb;
}

.formulario-date{
    border: none;
    height: 80px;
}

.formulario-select{
    border: none;
    height: 80px;
}

.label-formulario {
    font-size: 16px;
    font-weight: bold;
}

.formulario-group {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 12vh;
    border: 1px solid #d9d9d9;
    padding: 0.5%;
}

.formulario-group-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 16vh;
    border: 1px solid #d9d9d9;
    padding: 0.5%;
}

.formulario-group-tono {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 28vh;
    border: 1px solid #d9d9d9;
    padding: 0.5%;
}

.formulario-file{
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 46vh;
    padding: 20px;
    border-radius: 15px;
    margin: 30px 50px 0 50px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.formulario-file:hover {
    background: #eee;
    border-color: #111;
}

.formulario-file::hover .drop-title {
    color: #222;
  }
  
.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
  }

.formulario-group-file {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60vh;
    border: 1px solid #d9d9d9;
    padding: 0.5%;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: var(--blue-ribbon);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
input[type=file]::file-selector-button:hover {
background: #275dbb;
}

input[type=file] {
width: 350px;
max-width: 100%;
color: #444;
padding: 5px;
background: #fff;
border-radius: 10px;
border: 1px solid #555;
}

.formulario-group-area{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 14vh;
    border: 1px solid #d9d9d9;
    padding: 0.5%;
}

.formulario-body-column{
    width:50%;
    height: 100%;
}

.Formulario-footer {
    background-color: var(--blue-ribbon);
    height: 8vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.formulario-button-label{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-right: 1%;
    cursor: pointer;
}

.formulario-button-send{
    background-color: rgb(0,0,0,0);
    border: none;
    width: 280px;
    color: white;
    margin-right: 1%;
}

.formulario-enviado{
    height: 100vh;
    width: 100%;
    background-color: var(--blue-ribbon);
}

.formulario-enviado.animate-enter {
    animation: animate-enter-frames 0.75s ease 0.00s 1 normal forwards;
    opacity: 0;
    transform: scale(1.1);
  }

.check-icon{
    height: 50px;
}

.witak-enviado{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 90px;
    margin-right: 2%;
}

.formulario-enviado-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.enviado-exito{
    color: white;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 1%;
}

@keyframes animate-enter-frames {
    from{opacity: 0;
  transform: scale(1.1);
  }
  to{opacity: 1;
  transform: scale(1);
  }
}

.formularios-container{

}

:root {
    --blue-ribbon: #006fff;
}

@media (max-width: 768px) {
    .formularios-container{
        height: 100vh;
    }
    .formulario-container-cb{
        display: flex;
        flex-direction: column;
    }
    .formulario-body-row {
        flex-direction: column;
    }
    .formulario-group{
        width: 100%;
    }
    .formulario-group-tono{
        width: 100%;
        height: 34vh;
    }
    .formulario-group-area{
        width: 100%;
    }
    .formulario-group-file{
        width: 100%;
    }
    .formulario-file{
        margin: 30px 10px 50px 10px;
    }
    .formulario-body-column{
        width: 100%;
        height:auto;
    }
    .formulario-back-icon{
        margin-bottom: 3.5%;
        margin-right: 2%;
    }
    .Formulario-footer{
        position: fixed;
        justify-content: center;
        width: 100%;
    }
    .Formulario-body{
        height: 100%;
    }
}