.home-container{
    position: relative;
    height: 105vh;
}

.home-header{
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
}

.home-body{
    display: flex;
    flex-direction: row;
}

.columna-texto{
    margin-top: 4%;
}

.home-image{
    width:45%;
    height: auto;
    margin-top: 4%;
    margin-left: 5%;
}

.home-footer {
    background-color: #0057c8;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: -20vh;
    width: 100%;
    height: auto;
}

.footer-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.redes-footer{
    margin-left: 10%;
    margin-right: 10%;
}

.redes-footer p{
    font-weight: 600;
    font-size: 16px;
}

.contact-email-footer p{
    font-weight: 600;
    font-size: 16px;
}

.pages-footer{
    display:flex;
    justify-content: flex-start;
    align-self: center;
    flex-direction: column;
}

.pages-footer-link{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

.white-line-footer {
    display:flex;
    justify-content: center;
    align-self: center;
    margin-top: 20px; /* Ajusta el margen superior según tus preferencias */
    margin-bottom: 20px; /* Ajusta el margen inferior según tus preferencias */
    width: 100%;
    border-top: 1px solid #ffffff; /* Esto establece una línea sólida de 1 píxel de ancho en color blanco */
}

.redes-footer img {
    vertical-align: middle;
}

.rights-footer {
    font-size: 14px;
}


.home-text-1{
    color: var(--blue-ribbon);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 52px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 50px;
    white-space: nowrap;
    transform: translate(55px, 0);
}

.home-text-2{
    color: #020202;
    font-family: var(--home-font-family-montserrat-semibold);
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 50px;
    margin-top: 2%;
    white-space: nowrap;
    transform: translate(55px, 0);
}

.home-text-3{
    align-self: flex-end;
    color: #0f0f0f;
    font-family: var(--home-font-family-montserrat-medium);
    font-size: 19px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0;
    transform: translate(55px, 0);
    width: 80%;
}

.home-link-style {
    text-decoration: none;
    color: black;
    margin-left: 35px;
    font-family: var(--home-font-family-helvetica-regular);
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
}

.links-home {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 25px;
    transition: 0.5s;
}

.witak-logo-home {
    filter: brightness(0);
    transition: 0.5s;
    width: 210px;
    margin-left: 2%;
  }

  .circleImg1-home{
    width: 230px;
    position: absolute;
    bottom:0;
    left: 0;
    filter: brightness(95%);
    z-index: -1;
}

.circleImg2-home{
    width: 230px;
    position: absolute;
    left: 250px;
    bottom: 0;
    filter: brightness(95%);
    z-index: -1;
}

.home-comenzar{
    color: white;
    font-family: var(--home-font-family-montserrat-semibold);
    font-size: 20px;
    font-weight: 600;
    background-color: var(--blue-ribbon);
    border-radius: 5px;
    border: none;
    width: 200px;
    height: 50px;
    margin-top: 5%;
    transform: translate(55px, 0);
}
  
  :root{
    --blue-ribbon: #006fff;
    --home-font-family-helvetica-regular: "Helvetica-Regular", Helvetica;
    --home-font-family-montserrat-semibold: "Montserrat-SemiBold", Helvetica;
    ---home-font-family-montserrat-medium: "Montserrat-Medium", Helvetica;
  }

  .animated-element {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.home-text-1,
.home-text-2,
.home-text-3,
.home-comenzar,
.home-footer,
.witak-logo-home {
    animation-delay: 0.5s;
}

@media (max-width: 728px){
    .home-container{
        flex-direction:column;
        align-items: center;
        width: 100%;
        zoom: 90%;
    }
    .home-header{
        flex-direction:column;
        align-items: center;
        width: 100%;
    }
    .witak-logo-home{
        width: 50%;
        margin-top: 5%;
        padding: 0%;
    }
    .links-home {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px;
        text-align: center;
        align-items: center;
        transition: 0.5s;
    }
    .home-link-style {
        text-decoration: none;
        color: black;
        font-family: var(--home-font-family-helvetica-regular);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        margin: 0 15px;
    }
    .home-link-style:not(:last-child) {
        margin-right: 15px;
    }
    .home-body{
        flex-direction:column-reverse;
        align-content: center;
        height: 400px;
        margin-top: 45%;
        width: fit-content;
    }

    .home-text-1{
        font-size: 32px;
        line-height: 31px;
        transform: none;
    }
    .home-text-2{
        font-size: 30px;
        line-height: 31px;
        margin: 10px 0px 0px 0px;
        transform: none;
    }
    .home-text-3{
        font-size: 15px;
        line-height: 21px;
        margin: 10px 0px 20px 0px;
        align-self: center;
        text-align: center;
        transform: none;
    }
    .home-comenzar{
        transform: none;
    }
    .home-image {
        width: 85%;
        margin: 5% auto 0 auto;
        display: block; /* Add display: block to override the default inline behavior */
      }      
    .columna-texto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-footer{
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: -15%;
    }
    .circleImg1-home, .circleImg2-home{
        display:none;
    }
}

@media (max-width: 1024px){
    .home-text-1{
        font-size: 32px;
        line-height: 31px;
    }
    .home-text-2{
        font-size: 30px;
        line-height: 31px;
        margin: 10px 0px 0px 0px;
    }
    .home-text-3{
        font-size: 15px;
        line-height: 21px;
        margin: 10px 0px 20px 0px;
    }
    .circleImg1-home{
        width: 200px;
    }
    .circleImg2-home{
        width: 200px;
    }
}